container_commands:
  migrate:
    command: 'source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput'
    leader_only: true
  createsu:
    command: 'source /opt/python/run/venv/bin/activate && python manage.py createsu'
    leader_only: true
  collectstatic:
    command: 'source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput'
