option_settings:
  'aws:elasticbeanstalk:application:environment':
    DJANGO_SETTINGS_MODULE: 'members_api.settings'
    'PYTHONPATH': '/opt/python/current/app/iotd:$PYTHONPATH'
    'ALLOWED_HOSTS': '.elasticbeanstalk.com'
  'aws:elasticbeanstalk:container:python':
    WSGIPath: members_api/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  'aws:elasticbeanstalk:container:python:staticfiles':
    '/static/': 'www/static/'
